<footer class="text-center container">
    <h3>Join our army</h3>
    <h5 class="text-muted">Viva la Revolution!</h5>
    <a href="#" class="fab fa-itunes-note"></a>
    <a href="#" class="fab fa-spotify"></a>
    <a href="#" class="fab fa-twitter"></a>
    <a href="#" class="fab fa-soundcloud"></a>
    <a href="#" class="fab fa-instagram"></a>
    <a href="#" class="fab fa-facebook-f"></a>
</footer>
